body{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    
}

ul{

         display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;


    }
 ul li{
        list-style: none;
        margin-right: 40px;
        padding: 10px;
    }
ul li a{
     text-decoration: none;
        font-size: 20px;
        color: white;
    }

ul li a:hover{
        background: grey;



    }
.cerrar {
    text-decoration: none;
    color: white;
    cursor: pointer;
    
}
.user{
    color: white;
    
}
.cerrar:hover{
    
     text-decoration: none;
    
}
.contenedor-header{
    color: white;
   background: #194D39;
    width: 100%;
     height: 50px; 
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items:center;
    justify-content: space-around;
  
}
.user{
    font-weight: bold;
    font-size: 18px;
    font-family: 'Roboto';
    color: black;
    
}
.label{
    font-family: 'Arial';
    font-size: 15px;
}
header{
  position: relative;
}
.contenedor-menu{
   width: 100%;
    height: 70px;
    background: #080E17;
   position: absolute;
    top: 50px;
}

h1{
    font-size: 30px;
}
h1 a{
    text-decoration: none;
    color: white;
}
h2{
   text-align: center;
   font-size: 30px;
    -webkit-box-shadow: 9px 2px 15px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 2px 15px -6px rgba(0,0,0,0.75);
box-shadow: 9px 2px 15px -6px rgba(0,0,0,0.75);
    background: white;
    padding: 20px;
}
.contenedor-formulario{
     -webkit-box-shadow: 17px 9px 36px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 17px 9px 36px 0px rgba(0,0,0,0.75);
box-shadow: 17px 9px 36px 0px rgba(0,0,0,0.75);
    width: 80%;
    margin: 100px auto;
     height: 680px;
}
form{
    width: 50%;
    margin: 50px auto ;
   
}
input[type="text"], input[type="date"]{
    padding: 5px;
    width: 80%;
    border-radius: 2px;
    
}
select{
    padding: 5px;
    border-radius: 5px;
}
label{
    font-size: 15px;
    font-family: "Roboto";
    display: block;

}
.contenedor-input{
    margin-top: 5px;
    display: block;
    
}
input[type="submit"]{
    width: 50%;
    padding: 20px;
    margin-top: 40px;
    
    border-radius: 10px;
    cursor: pointer;
    background-color: dodgerblue;
    color: white;
    font-size: 15px;
    font-family: "Roboto";
    float: right;
}
.contenedor-submit{
    width: 80%;
}
input[type="submit"]:hover{
    background-color: darkcyan;
    font-family: "Roboto";
   
}
#cedula{
    width: 40%;
}

.alert{
    width: 100%;
    
    border-radius: 2px;
    margin: 20px auto;
    font-size: 12px;
}
.m_guardar{
    background: #246B2D;
    padding: 20px;
    color: white;
    text-align: left;
    
 
}
.m_error{
    background: red;
    padding: 20px;
    color: white;
    text-align: left;
    
 
}